/* OPTIONS */
body.options {
    background-color: #1a1a1a;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}


/* OPTIONS END */

/* v1.1 */
.aeterna-slide-in-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999;
    background-color: #1a1a1a;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 0 0 0 0.5rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    transition: all 0.5s ease;
    transform: translateX(100%);
    opacity: 0;
}

.aeterna-slide-in-menu-button {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 1000000;
    background-color: #1a1a1a;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 0 0 0 0.5rem;
    cursor: pointer;
}
/* v1.1 END */
.ae-twitter-div.css-1dbjc4n.r-18u37iz.r-1h0z5md {
    margin: 5px;
    padding-top: 5px;
    margin-left: -10px;
}

.ae-twitter-downloader {
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.ae-twitter-downloader:hover {
    text-decoration: underline;
}


.ae-youtube-div {
    padding: 10px 10px;
    width: auto;
    height: auto;
    background-color: crimson;
    color: white;
    font-weight: bold;
    border-radius: 18px;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}
.ae-youtube-downloader {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 1rem;
}

.ae-youtube-shorts-div {

    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
        cursor: pointer;
    border-radius: 50%;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    height: 5rem;

}

.ae-youtube-shorts-div:hover {
    text-decoration: underline;
}

.ae-youtube-shorts-downloader {
    color: white;
}

/* animation pulse */
.ae-youtube-shorts-downloading {
    animation: pulse 2s infinite;
}

.ae-instagram-div {
    padding: 10px 10px;
    width: auto;
    height: auto;
    background-color: #e1306c;
    color: white;
    font-weight: bold;
    border-radius: 18px;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 18px;
    margin-right: 9px;
}

.ae-instagram-downloader {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 1rem;
}

select.form-select {
    color: black;
}

input.form-check-input, input.form-control {
    color: black;
}

input.form-check-input::placeholder {
    color: black;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        background-color: black;
    }
    50% {
        transform: scale(1.010);
        background-color: green;
    }
    100% {
        transform: scale(1);
        background-color: black;
    }
}

